
@media screen and (max-width: 500px) {
    .barra-de-menu {
        font-size: 12.5px;
    }

    .titulo {
        font-size: 30px;
    }

    .container {
        font-size: 13px;
    }

    .filme-principal {
        height: 300px;
        background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/netflix_model/img/banner_enola_holmes_cel.jpg');
        background-size: 120%;
    }
}


@media screen and (max-width: 500px) {
    header .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .botao {
        margin-top: 10px;
        width: 190px;
    }
}

@media screen and (min-width:750px) {
    .descricao {
        width: 50%;
    }
}

@media screen and (min-width:800px) {
    .filme-principal {
        height: 600px;
    }
}

